* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;

}


/* menú navegación */

nav {
    background-color: white;
    border-top: solid 1px #8A8070;
    border-bottom: solid 1px #8A8070;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0px;
    right: 0px;
    z-index: 99;
    box-shadow: 0px 5px 5px 0px rgba(34, 33, 33, 0.47);

}

li { display: inline-block;
    text-transform: uppercase;
    margin: auto;
    width: auto;
    padding: 5px;
    position: relative;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: #7ABA96;
    
}


/* menu desplegable */

.menu ul ul {
    text-align: left;
    position: absolute;
    display: none;
    top: 100%;
    background: white;
    padding: 0;
    margin-top: 0px;
    width: 200px;
    left: 0px;

}

/* items del menu desplegable */

.menu ul ul li {
    align-content: right;
    float: none;
    border-bottom: solid 1px #8A8070;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* items del menu desplegable al pasar el ratón */

.menu ul li:hover>ul {
    cursor: pointer;
    display: block;
    background-color: rgb(252, 252, 252);
    ;
}



/* FOOTER */

.footer {
    clear: both;
    background-color: black;
    color: white;
}

.footer li {
    padding: 30px;
    font-weight: normal
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #8A8070;
}


a {text-decoration: none;}
a:hover{cursor: pointer;}